@using System.Security.Claims;

<div class="account-container">
    <h1>Account update success</h1>
    <p>
        <span>You are succesfully updated your account</span>
        <a asp-action="Login" asp-controller="Account">Click here to login</a>
    </p>
</div>

@section styles
{
    <link href="~/styles/account.css" rel="stylesheet" />
}